.. image:: images/rtu_logo.gif
	:width: 50%

<?py if title: ?>

.. class:: title

#{title}

<?py #end ?>

<?py if subtitle: ?>

.. class:: subtitle

#{subtitle}

<?py #end ?>


.. class:: author

	Autors: Reinis Veips

.. class:: author-info

	Studenta apl. nr.: 081RDB032

.. class:: author-info

	Grupa: RDGDB3

.. class:: author-info
	
	Rīga, 2013


